* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  object-fit: cover;
}

header {
    background-image: url(../images/imageHeader.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 40rem;
    color: #fff;
}