* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.backgroundContent {
  background-color: #f6f6f6;
}

header {
  background-image: url(../images/imageHeader.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 40rem;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 1.6rem 0;
}

header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

header h1 {
  text-transform: uppercase;
  font-family: "Luckiest Guy";
  font-weight: 400;
  font-size: 5.2rem;
  word-break: keep-all;
  width: 30%;
  text-align: center;
}

header p {
  word-break: keep-all;
  width: 50%;
  text-align: center;
  font-weight: 400;
}

.containerButtons {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
}

.buttonWindows {
  background: #fff;
  color: #23272a;
  font-weight: 400;
  width: 20rem;
  height: 4rem;
  border-radius: 2.8rem;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
}

.buttonOpenDiscord {
  background: #23272a;
  color: #fff;
  font-weight: 400;
  width: 28rem;
  height: 4rem;
  border-radius: 2.8rem;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .containerButtons {
    gap: 2rem;
    justify-content: center;
  }

  .buttonWindows {
    width: 28rem;
  }
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

/* .containerSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  color: #23272a;
  margin: 6rem;
  align-items: center;
  justify-items: center;
}

.containerSection h2 {
  font-weight: 800;
  font-size: 4rem;
  width: 45%;
  word-break: keep-all;
}

section h1 {
  font-family: "Luckiest Guy";
  font-weight: 400;
  font-size: 4rem;
}

.containerSection p {
  font-weight: 400;
  width: 45%;
  word-break: keep-all;
}

.contentSection {
  display: flex;
  flex-direction: column;
  gap: 4rem;
} */
